.source-meinestadt {
  font-weight: 700;
  color: #000 !important;
  margin-right: 0.3125rem;
  font-family: Roboto Bold,sans-serif;
  font-size: 12px !important;
}

.source{
  font-weight: 700;
  color: #000 !important;
  margin-right: 0.3125rem;
  font-family: 'Inter';
  font-size: 12px !important;
}