
.padded-lr {
    height: 80px;
    font-size: 0.625rem;
    line-height: 0.8125rem;
    text-align: center;
    color: #FFFFFF;
    background: #50D4F5;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



